<div class="container">
  <h1>Update Todo</h1>
  <div class="mt-5">
    <form #todoForm="ngForm" (ngSubmit)="todoForm.valid && saveTodo()">
      <div class="alert alert-warning" *ngIf="todoForm.invalid && todoForm.dirty">
        Enter valid values
      </div>
      <div class="alert alert-warning" *ngIf="description.touched && description.invalid">
        Description required
      </div>
      <div class="alert alert-warning" *ngIf="targetDate.touched && targetDate.invalid">
        Target Date required
      </div>
      <fieldset class="form-group">
        <label class="form-label">Description</label>
        <input
          type="text"
          name="description"
          required="required"
          class="form-control"
          [(ngModel)]="todo.description"
          #description="ngModel"
        />
      </fieldset>
      <fieldset class="form-group">
        <label class="form-label">Target Date</label>
        <input
          type="datetime-local"
          name="targetDate"
          required="required"
          class="form-control"
          [ngModel]="todo.targetDate | date : 'yyyy-MM-ddThh:mm:ss'"
          (ngModelChange)="todo.targetDate = $event"
          #targetDate="ngModel"
        />
      </fieldset>
      <button type="submit" class="btn btn-success mt-5">Save</button>
    </form>
  </div>
</div>
